<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>在线html格式化、获取文本内容 、压缩-MinTools</title>
    <meta name="keywords" content="在线工具,加密,解密,压缩,格式化,净化"/>
    <meta name="description" content="为开发设计人员提供在线工具，提供js在线 CSS、JS 调试等其他在线工具"/>
    <link rel="stylesheet" th:href="@{/assets/js/codemirror/lib/codemirror.css}"/>
    <script type="text/javascript" th:src="@{/assets/js/codemirror/lib/codemirror.js}"></script>
    <script type="text/javascript" th:src="@{/assets/thirdparty/base64/base64.js}"></script>
</head>
<body>
<div layout:fragment="content" class="container">
    <div class="row">
        <div class="col-xs-8">
            <div class="mt-head"><h1>在线使用Base64算法加解密数据</h1></div>
            <div class="form-group"><textarea id="content"></textarea></div>
            <div class="form-group">
                <button id="btnEncode" class="btn btn-danger">加密(Encrypt)</button>
                <button id="btnDecode" class="btn btn-success">解密(Decrypt)</button>
                <button id="btnExchange" class="btn btn-warning">交换(Exchange)</button>
            </div>
            <div class="form-group"><textarea id="result"></textarea></div>
            <div th:include="module :: comment"></div>
        </div>
        <div class="col-xs-4" th:include="module :: sidebar"></div>
    </div>
</div>
</body>
</html>