<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>代码爆炸了-MinTools</title>
    <meta name="keywords" content="在线工具,加密,解密,压缩,格式化,净化"/>
    <meta name="description" content="为开发设计人员提供在线工具，提供js在线 CSS、JS 调试等其他在线工具"/>
    <link rel="shortcut icon" th:href="@{/themes/default/images/fac.png}" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" th:href="@{/themes/default/images/fac.png}" sizes="114x114"/>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.css" rel="stylesheet"/>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap-theme.css" rel="stylesheet"/>
    <link href="http://cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"/>
    <link th:href="@{/themes/default/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/assets/thirdparty/layer/skin/layer.css}" rel="stylesheet"/>
    <script src="http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.js"></script>
    <script th:src="@{/assets/thirdparty/layer/layer.js}"></script>
    <script th:src="@{/themes/default/js/scripts.js}"></script>
    <link rel="stylesheet" th:href="@{/assets/js/codemirror/lib/codemirror.css}"/>
    <link rel="stylesheet" th:href="@{/assets/thirdparty/codeblast/monokai.css}"/>
    <title>代码爆炸了</title>
    <script type="text/javascript" th:src="@{/assets/js/codemirror/lib/codemirror.js}"></script>
    <link rel="stylesheet" th:href="@{/assets/thirdparty/codeblast/closetag.js}"/>
    <script type="text/javascript" th:src="@{/assets/js/codemirror/mode/javascript/javascript.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/codemirror/mode/xml/xml.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/codemirror/mode/css/css.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/codemirror/mode/htmlmixed/htmlmixed.js}"></script>
    <script type="text/javascript" th:src="@{/assets/thirdparty/codeblast/code-blast.js}"></script>
    <style type="text/css">
        body {
            background: #272822;
        }

        body * {
            font-size: 20px;
        }

        .CodeMirror {
            height: 100%;
            border-width: 0;
        }
    </style>
</head>
<body>
<script>
    window.cm = CodeMirror(document.body, {
        lineNumbers: true,
        mode: "htmlmixed",
        theme: 'monokai',
        lineWrapping: true,
        autofocus: true,
        width: '100%',
        height: '100%',
        tabSize: 2,
        value: "<article>\n  <h1>Code blast plugin for Codmirror</h1>\n  <div class=\"based-on\">\n    Based on Joel Besada's experiment:\n    https://twitter.com/JoelBesada/status/670343885655293952\n  </div>\n  \n  <div>\n\t  Github: https://github.com/chinchang/code-blast-codemirror/\n  </div>\n  \n</article>",
        autoCloseTags: true,
        blastCode: {effect: 2},
    });
    cm.on("change", function (instance, change) {
        if (window.ev) {
            return;
        }
        window.ev = 1;
        window._gaq && _gaq.push(['_trackEvent', 'code-blast', 'used']);
    });
</script>
<script type="text/javascript">
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?af8abc7e6c116587b3b7bf7e208b891e";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
</body>
</html>