<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <title>Layout</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <link rel="shortcut icon" th:href="@{/themes/default/images/fac.png}" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" th:href="@{/themes/default/images/fac.png}" sizes="114x114"/>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.css" rel="stylesheet"/>
    <!--<link href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap-theme.css" rel="stylesheet"/>-->
    <link href="http://cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"/>
    <link th:href="@{/themes/default/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/assets/thirdparty/layer/skin/layer.css}" rel="stylesheet"/>
    <script src="http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.js"></script>
    <script th:src="@{/assets/thirdparty/layer/layer.js}"></script>
    <script th:src="@{/themes/default/js/scripts.js}"></script>
</head>
<body>
        <header layout:fragment="common_header" class="mt-header navbar-fixed-top">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <nav class="navbar navbar-inverse" role="navigation">
                            <div class="navbar-header">
                                <a th:href="@{/}" class="navbar-brand"><img  style="width:165px;height:45px;margin-top:5px;" th:src="@{/themes/default/images/logo.png}"/></a>
                            </div>
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li><a th:href="@{/}">全部工具</a></li>
                                    <li class="dropdown">
                                        <a th:href="@{/category/dev}"
                                           class="dropdown-toggle menu-dropdown" data-toggle="dropdown">开发类<strong
                                                class="caret"></strong></a>
                                        <ul class="dropdown-menu">
                                            <li><a th:href="@{/category/frontEnd}">前端</a></li>
                                            <li><a th:href="@{/category/encrypt}">加解密</a></li>
                                            <li><a th:href="@{/category/format}">格式化</a></li>
                                        </ul>
                                    </li>
                                    <li><a th:href="@{/category/webmaster}">站长类</a></li>
                                    <li><a th:href="@{/category/common}">通用</a></li>
                                    <li><a th:href="@{/markdown/}">Markdown</a></li>
                                    <li><a th:href="@{/codeblast/}">代码爆炸了</a></li>
                                    <li><a th:href="@{/doc/}">常用文档</a></li>
                                </ul>

                                <!--<ul class="nav navbar-nav navbar-right">-->
                                 <!--<li><a href="#">网站不错，点个赞！</a></li>-->
                                <!--</ul>-->
                            </div>

                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <header class="mt-search" layout:fragment="common_search">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <form class="" th:action="@{/search/}" role="search" onsubmit="search.value=searchText.value;return true;">
                            <input name="s" id="search" type="hidden"/>
                            <div class="form-group"><input type="text" class="form-control search clearable" id="searchText"  placeholder="搜索工具、文档，例如：base64、java"> <i class="fa fa-search"></i>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </header>
        <div class="container"  layout:fragment="content">
        </div>
        <footer class="mt-footer" data-spm="100">
            <div class="container">
                <div data-spm="25" class="y-row copyright">
                    <p class="big">
                        <a href="mailto:hongwei.han@qq.com" target="_blank" style="color:#666">联系我</a>
                        -
                        <a href="http://www.atecher.com" target="_blank" style="color:#666">Atecher</a>
                        -
                        <a href="http://tool.chinaz.com/" target="_blank" style="color:#666">站长工具</a>
                        -
                        <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1259916292'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1259916292' type='text/javascript'%3E%3C/script%3E"));</script>
                    </p>
                    <p>© 2009-2016 Mintools.net 版权所有 备案号：京ICP备15011567号</p>
                </div>
            </div>
        </footer>
        <script type="text/javascript">
            var _hmt = _hmt || [];
            (function() {
                var hm = document.createElement("script");
                hm.src = "//hm.baidu.com/hm.js?af8abc7e6c116587b3b7bf7e208b891e";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();
        </script>
</body>
</html>