<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atecher.mintools.mapper.ToolMapper" >
<sql id="base_tool_select">
    SELECT t.id,t.code,t.target,t.relative,t.type,t.title,t.href,t.icon,t.description,t.tag FROM sys_resource t where t.type='tool'
</sql>

    <select id="findToolAll" resultType="java.util.HashMap">
        <include refid="base_tool_select"/>
    </select>
    <select id="findToolsByCategory" parameterType="string" resultType="java.util.HashMap">
        <include refid="base_tool_select"/> and EXISTS (select 1 from sys_resource_category c where c.category_code=#{value} and c.resource_id=t.id)
    </select>

</mapper>