/**Override*/

body{font-family:"Lato","Helvetica Neue","Microsoft YaHei",Arial,Helvetica,sans-serif;background: #fafafa;}
.container{width: 1400px;}
.navbar{margin-bottom: 0px;background: transparent;border-color: transparent;}
.navbar-header{width: 170px;float: left;}
.navbar-brand{padding: 0;}
.navbar-nav>li>a{height: 60px;padding:20px 15px;color:rgba(0,0,0,0.8);font-size: 16px;}
.navbar-nav>li>a:after{position: absolute;bottom: 0;left: 100%;width: 0;border-bottom: 1px solid #fff;content:""; transform: scale(0);transition:all 0.3s;-webkit-transition:all 0.3s; -moz-transition:all 0.3s;}
.navbar-nav>li>a:hover:after{left: 0;width: 100%;transform: scale(1);}
.navbar-inverse .navbar-nav > li > a,.navbar-inverse .navbar-nav > li > a:hover{color:rgba(0,0,0,0.8); }
.navbar-inverse .navbar-nav > .open > a,.navbar-inverse .navbar-nav > .open > a:hover,.navbar-inverse .navbar-nav > .open > a:focus {color: rgba(0,0,0,0.8);background:#f5f5f5;-webkit-box-shadow: none;box-shadow: none;}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{background:#f5f5f5;color: rgba(0,0,0,0.8);-webkit-box-shadow: none;box-shadow: none; }
.navbar-collapse.collapse{display: block !important;height: auto !important;padding-bottom: 0;overflow: visible !important;}
.navbar-nav{float: left;margin:0; }
.navbar-right{float: right !important;}
.navbar-nav > li{float: left;  }
.nav > li{position: relative;display: block;}
.nav .open > a,.nav .open > a:hover,.nav .open > a:focus {color: rgba(0,0,0,0.8);background-color: #f5f5f5;}
.navbar-nav .open .dropdown-menu{background-color:#ffffff;position: absolute;top: 100%;z-index: 1000;box-shadow: 1px 1px 2px #e4eaec;border-width: 0 1px 1px 1px;border-color: #e4eaec;}
.navbar-nav .open .dropdown-menu > li > a{color: rgba(0,0,0,0.8);}
.navbar-nav .open .dropdown-menu > li > a:hover{color: rgba(0,0,0,0.8);background: transparent;}
.navbar-nav .open .dropdown-menu {}
.navbar-nav .dropdown-menu{font-size: 15px;}
.navbar-nav .dropdown-menu .divider{background-color:rgba(0,0,0,0.8); }
.list-group-item{background-color:#ffffff;border:1px solid #ecf0f1;font-size:1.1em;padding:20px 20px 20px 25px}
textarea.form-control{height: 100px;border-radius: 0;}
textarea.height-large{height: 300px;}
/**Custom*/
.mt-header{background: #ffffff !important;margin-bottom:0px;min-width: 1200px;box-shadow: 1px 1px 2px #e4eaec;-webkit-box-shadow: 1px 1px 2px #e4eaec;-moz-box-shadow: 1px 1px 2px #e4eaec;}
.mt-search{background-color:transparent;padding-top: 120px;padding-bottom:30px;margin-bottom: 20px;}
.mt-search .search{border: 1px solid #e4eaec;padding: 13px 30px;font-size: 16px;height: auto;text-align:center;border-radius: 0;box-shadow: none;}
.mt-search .fa{position: absolute;right: 25px;top:12px;color: #eee;font-size: 24px;}
.mt-btn {position: relative;z-index: 10;display: inline-block;overflow: hidden;color: #fff;text-align: center; -webkit-transition: all .2s;-moz-transition: all .2s;-o-transition: all .2s;transition: all .2s; }
.mt-btn:hover{background: #f57171;}
.mt-btn:before{background: #f57171;}
.mt-btn:after {position: absolute;top: 50%;left: 50%;z-index: -1;width: 100%;height: 0;background: #f57171;content: "";-webkit-transition: all .3s ease;-moz-transition: all .3s ease 0s;-o-transition: all .3s ease 0s;transition: all .3s ease 0s;-webkit-transition-delay: 0s;-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);-moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);-o-transform: translateX(-50%) translateY(-50%) rotate(45deg);transform: translateX(-50%) translateY(-50%) rotate(45deg);-ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);}
.mt-btn:hover:after {height: 300%;}
.mt-packages .mt-package img{width: 60px;height: 60px;}
.mt-footer{text-align: center;background: #ffffff;border-top: 1px solid #e4eaec;margin-top: 70px;padding: 30px 0;}
.mt-head{border-bottom: 1px solid #eeeeee;margin-bottom: 15px;}
.mt-head h1,.mt-head h2{padding: 1px;font-size: 22px;margin-bottom: 6px;text-align: left;}
.mt-form-search .search{height: 50px;border-radius: 0;font-size: 16px;border-color: #e4eaec;box-shadow: none;}
.mt-form-search .btn{height: 50px;border-radius: 0;font-size: 16px;}
.mt-result h2{font-size: 18px;font-weight: 700;margin-bottom: 15px;}
.mt-result .content{line-height: 30px;padding: 10px 20px;background-color:#f9f9f9;}
.panel-custom{border-width: 0px;}
.panel-custom > .panel-body{border:1px solid #eee;background-color: #fafafa;}
.panel-custom > .panel-heading{background:#f1f1f1;border-width: 0px;}
.big> span>a{font-size: 14px;line-height: 20px;color:#666;}
.btn-dropdown .fa{font-weight: 200;line-height:1.42857143;}